body.mce-content-body {
	color: #000;
	background:#D3D3D3;
    font-family: 'Archer', Arial, sans-serif;
    font-size: 16px;
}
/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
h2 {
      margin: 0 0 20px 0;
      color: #009774;
      font-family: "Big Noodle", "Archer", sans-serif;
      line-height: 0.9em;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      text-shadow: none;
}

h2.red {
     margin: 0 0 20px 0;       color: #ff0000;       font-family: "Big Noodle", "Archer", sans-serif;       line-height: 0.9em;       letter-spacing: 0.02em;       text-transform: uppercase;       text-shadow: none;
}

blockquote {
 color: #009774;       font-family: "Big Noodle", "Archer", sans-serif; font-style:italic;
}

