﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    // get the key from the parameters
    var id = Model.MacroParameters["key"].ToString();

    var name = string.Empty;
    var imageUrl = string.Empty;
    var department = string.Empty;

    // try to get published content
    var publishedAuthor = Umbraco.TypedContent(id);

    if (publishedAuthor != null)
    {
        // published conten found so get values from cache
        name = publishedAuthor.GetPropertyValue<string>("title");
        imageUrl = publishedAuthor.GetPropertyValue<IPublishedContent>("picture").GetCropUrl(width:80, height:65);
        department = publishedAuthor.Ancestor("Department").Name;
    }
    else
    {
        // no published content found for key so get content from db, could also be examine index for performance reasons
        var content = ApplicationContext.Current.Services.ContentService.GetById(int.Parse(id));

        if (content != null)
        {
            name = content.GetValue<string>("title");
            department = content.Ancestors().First(x => x.ContentType.Alias == "Department").Name;
            imageUrl = Umbraco.TypedMedia(content.GetValue<int>("picture")).GetCropUrl(width: 80, height: 65);
        }
    }
}
<div>
    <div style="margin: 5px 10px;">
        
            <di style="float: right;">
                <img src="@imageUrl" alt="@name" />
            </div>
       
        <div  style="align-items: center; display: flex; float: left;">
            <div style="padding-left: 0; padding-right: 0.823529rem;">
                <div>
                    <strong style="font-size: 16px;">@name</strong>
                </div>
                @department
            </div>
        </div>
    </div>
</div>
